#ready-background {
    background: #808080b8;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#ready-count {
    font-size: 300px;
    color: white;
    outline: black;
}

#ready-text {
    margin-top: 20px;
    font-size: 40px;
    color: white;
    outline: black;
}